*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(0, 0, 0);
}
.container{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-content: center;
 
}
.box{
    height: 50px;
    width: 50%;
    background-color: rgb(49, 50, 49);
    color: rgb(255, 251, 251);
    font-size: 30px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}
p{
    
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -70%;
    }
}