*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
.container{
    padding: 20px;
    position: relative;
}
.box{
    height: 100px;
    width: 150px;
    background-color: orange;
    animation-name: moving;
    animation-duration:5s ;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: alternate; */
    animation-delay: 2s;
    /* animation-fill-mode: forwards; last style at end*/
}
@keyframes moving{
    /* from{
      background-color: orange;
      top: 10px;
      left: 10px;
    }
    to{
background-color: aquamarine;
top: 10px;
left: 100%;
    } */
     0%{
      background-color: orange;
      top: 10px;
      left: 10px;
    }
    25%{
background-color: aquamarine;
top: 10px;
left: 1000px;
    }
     50%{
      background-color: rgb(208, 0, 255);
      top: 500px;
      left: 1000px;
    }
    75%{
background-color: rgb(144, 255, 127);
top: 500px;
left: 0px;
    }
     100%{
      background-color: orange;
      top: 10px;
      left: 10px;
    }

}