*{
    margin:0px;
    padding: 0px;
}
body{
background-color: black;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}   
.box{
    height: 450px;
    width: 500px;
    background-color: white;
    padding: 20px;
    margin:30px;
    border-radius: 10px;
}
h2{
    /* background-color: aquamarine; */
    text-align: center;
    color: rgb(31, 118, 89);
    
}
label{
    font-size: 25px;
    font-weight: 20px;
    
}
 input{
    width: 90%; 
    height: 10px;
    padding: 20px;
}
