*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(239, 232, 232);
    font-size: larger;
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(6, 6, 6);
    
    gap: 10px;
    padding: 10px;
    height: 450px;
    width: 450px;
}
.first{
    background-color: rgb(148, 255, 127);
    text-align: center;
    padding-top: 100px;
}
.second{
    background-color: rgb(210, 182, 106);
    text-align: center;
    padding-top: 100px;}
.third{
    background-color: rgb(8, 203, 183);
    text-align: center;
    padding-top: 100px;
}
.fourth{
    background-color: rgb(124, 57, 207);
    text-align: center;
    padding-top: 100px;
}