*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;      
}
.container{
    background-color: rgb(247, 238, 168);
    height:350px;
    gap: 5px;
    align-content: center;
    font-size: 35px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.box {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
