*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: rgb(2, 14, 25);
    font-size: 20px;
}
.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 5px;
    padding: 5px;
}
.box{
    background-color: rgb(181, 237, 218);
}
.header{
    grid-column-start: 1 ;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.con1{
    grid-column: 2/4;
}
.footer{
    grid-column: 1/4;
}